name: Test Header

#on:
#  push:
#    branches:
#      - main
#  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Escaneo de Petstore
    
    steps:
      - name: Descargar código
        uses: actions/checkout@v4

      - name: Crear directorios ZAP
        run: |
          mkdir -p $(pwd)/zap/wrk
          chmod 777 $(pwd)/zap/wrk

      - name: Ejecutar Escaneo ZAP
        env:
          MY_TOKEN: ${{ secrets.QA_API_TOKEN }}
        run: |
          # 1. Inyectamos el secreto en el archivo físico
          sed -i "s/\${MY_TOKEN}/$MY_TOKEN/g" options.prop
          cp options.prop ./zap/wrk/options.prop

          # 2. USAMOS zap-baseline.py EN LUGAR DE api-scan
          # Esto es clave: baseline fuerza el rastreo (spider) y el envío de headers
          # aunque la URL no sea una API real.
          docker run --rm \
            -v $(pwd)/zap/wrk:/zap/wrk:rw \
            zaproxy/zap-stable zap-baseline.py \
            -t "https://webhook.site/b46e54c8-4011-4f6f-820b-dc010dcd1e54" \
            -z "-configfile /zap/wrk/options.prop" \
            -d | tee ./zap/wrk/zap_output.log

      - name: Subir Reporte y Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Evidencia-Webhook
          path: |
            ./zap/wrk/*.html
            ./zap/wrk/*.log
