name: Validacion de Headers

on:
  workflow_dispatch: # Ejecución manual para pruebas

jobs:
  test_headers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Ejecutar ZAP contra Webhook
        env:
          MY_TOKEN: ${{ secrets.QA_API_TOKEN }}
        run: |
          mkdir -p ./zap/wrk
          # Reemplazo de token
          sed -i "s/\${MY_TOKEN}/$MY_TOKEN/g" options.prop
          cp options.prop ./zap/wrk/options.prop

          # Ejecución apuntando a tu Webhook.site
          # Reemplaza la URL de abajo por la tuya de Webhook.site
          docker run --rm \
            -v $(pwd)/zap/wrk:/zap/wrk:rw \
            zaproxy/zap-stable zap-api-scan.py \
            -t "https://webhook.site/b46e54c8-4011-4f6f-820b-dc010dcd1e54" \
            -f openapi \
            -z "-configfile /zap/wrk/options.prop" \
            -d 2>&1 | tee zap_output.log

      - name: Buscar en Log
        if: always()
        run: |
          echo "Buscando rastro del header en el log local..."
          grep -i "api_key" zap_output.log || echo "No se imprimió en log, revisar Webhook.site"
